@{
    ViewData["Title"] = "AdminMain";
}


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

<div class="container mt-4">
    <h2 class="mb-4">Panel de Administración</h2>

    <div class="row">


        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5>Total Usuarios</h5>
                    <h3>@ViewBag.TotalUsuarios</h3>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5>Envíos Totales</h5>
                    <h3>@ViewBag.TotalEnvios</h3>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5>Envíos Pendientes</h5>
                    <h3>@ViewBag.EnviosPendientes</h3>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5>Envíos Realizados</h5>
                    <h3>@ViewBag.EnviosCompletados</h3>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                    <h5>Balance Disponible</h5>
                    <h3>S/. @ViewBag.Balance</h3>
                </div>
            </div>
        </div>

    </div>
</div>