@model List<PlataExpress.Models.Remesa>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["mensaje"]
    </div>
}
<style>
    .table {
        border-radius: 10px;
        overflow: hidden;
    }

    .btn {
        border-radius: 25px;
        padding: 10px 20px;
        font-weight: bold;
    }

    .badge {
        font-size: 14px;
        padding: 8px 12px;
    }</style>


<div class="container mt-5 mb-5">

    <h2 class="mb-3">📄 Mis Envíos</h2>

    <p class="text-muted">
        Aquí puedes consultar el historial de todas tus transferencias realizadas.
    </p>

    <table class="table table-bordered shadow">

        <thead class="table-dark">
            <tr>
                <th>Destinatario</th>
                <th>Agencia / País</th>
                <th>Monto</th>
                <th>Comisión</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>

                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Agencia</td>
                            <td>S/ @item.Monto</td>
                            <td>S/ @item.Comision</td>
                            <td>@item.FechaEnvio.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>
                                @if (item.Estado == "Enviado")
                                {
                                    <span class="badge bg-warning">En proceso</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">Completado</span>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No tienes envíos registrados</td>
                    </tr>
                }

            </tbody>

    </table>

    <div class="mt-4 d-flex gap-3">

        <a asp-controller="Usuario" asp-action="PanelUsuario"
               class="btn btn-secondary">

            ⬅ Volver al Panel

        </a>


        <a asp-controller="Remesa" asp-action="EnviarDinero"
               class="btn btn-primary">

            💸 Nueva Transacción

        </a>

    </div>

</div>

